html, body { 
  --color-1: #2C3333;
  --color-2: #ffddd2; 
  --color-3: #e29578; 
  --color-4: #e29578; 
  --color-5: #A5C9CA;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 50px;
  background-color: var(--color-1);
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  color: #E7F6F2;
}

.container {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  background-color: #395B64;
  border: 6px solid var(--color-5);
  padding: 50px;
}

.players {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.dice {
  border-radius: 10px;
  width: 100px;
  height: 100px;
  background-color: var(--color-5);
  color: #E7F6F2;
  margin: 0 auto;
  font-size: 80px;
  display: block;
  align-items: center;
  justify-content: center;
}


button {
  color: #fff;
  padding: 20px 30px;
  font-size: 20px;
  margin: 40px auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#rollBtn {
  background-color: var(--color-5);
}

#resetBtn {
  background-color: var(--color-4);
}

button:focus {
  outline: none;
}

#resetBtn {
  display: none;
}

.active {
  border: 3px solid whitesmoke;
}